.containerPrincipal {
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.button {
  background-color: rgb(224, 233, 224);
  text-align: center;
}

.ativo {
  background-color: rgb(99, 255, 38);
}

.inativo {
  background-color: red;
}