.containerPrincipal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testeLink {
  text-decoration: none;
  color:rgb(76, 0, 163);
}

.containerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
